@import url(https://fonts.googleapis.com/css?family=Comfortaa:700,400);
body{
  font-family:"Comfortaa",sans-serif;
}
#birthday{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin: auto;
  height: 300px;
  text-align: center;
}
#isit{
  font-size:120pt;
  font-weight:bold;
}
#share{
  position:absolute;
  bottom:0;
  left:0;
  padding-left:5px;
}
#audio{
  position:absolute;
  top:0;
  left:0;
  display:none;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  img { 
    max-width: 100%; 
  }
  #share{
    display:none;
  }
  #title{
    font-size:150%;
  }
  #bdmessage{
    font-size:80%;
  }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  img { 
    max-width: 100%; 
  }
}