@import url(//fonts.googleapis.com/css?family=Open+Sans:400,800);

body { font-family: "Open Sans", tahoma, sans-serif; background: #f0f0f0; color: #000011; font-size: 1.5em; overflow:auto; display:flex; flex-direction:column; justify-content: space-between; align-items: center; min-height: 100%; min-width:100%; margin: 0; position: absolute; top: 0; }

h1 { font-size: 1.8em; margin-top: 0px; }

a { color: #000011; font-weight: 800; text-decoration: none; }

a:hover { color: #000088; }

ul, li { list-style-type: none; padding: 0px 0px; margin: 0px 0px; }

#main { width: 100%; top: 100px; bottom: 100px; display: flex; flex-direction: row; align-items: center; justify-content: center; flex-wrap: wrap; }

#copyright { background-color: transparent; line-height: 40px; width: 100%; font-family: monospace; text-align: center; font-size: 0.75em !important; }

nav { flex-grow: 0; text-align: center; max-width: 740px; padding: 20px; }
nav ul { padding: 0px; margin: 0px; }
nav li { display: inline-block; text-align: center; font-size: 24px; margin-left: 8px; margin-right: 8px; }

#links i { margin: 0 5px; }

#intro { font-size: 2.5em; margin: 0px; }

#main-right { padding: 10px; }

#self { height: 500px; margin: 20px; border-radius: 50%; }

@media only screen and (max-width: 768px) { #main { font-size: 0.8em; }
  h1 { font-size: 1.6em !important; margin-top: 0px; }
  #updated { display: none; } }

@media only screen and (max-width: 600px) { #main { text-align: center; } }

