@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800);

body {
	color:#000033;
	background:#dddddd;
	font-size:1em;
	font-family:'Open Sans',tahoma,sans-serif;
}

main div {
    margin:auto;
    max-width:1024px;
    padding-left:20px;
    padding-right:20px;
    margin-top:10px;
}

a {
    color:#dddddd;
    font-weight:400;
    text-decoration:none;
}

a:hover {
    color:#ffffff;
}

header {
    margin:auto;
    max-width:1024px;
    min-height:96px;
    background:#000033;
    color:#dddddd;
    padding-left:20px;
    padding-right:20px;
}

#header-left {
    float:left;
}

#header-left h1 {
    font-size:48px;
    line-height: 96px;
    margin: auto;
}

#header-right {
    float:right;
}

nav {
    margin: auto;
    max-width: 740px;
    padding: 0px;
}

nav ul {
    padding: 0px;
    margin: 0px;
}

nav li {
    display: inline-block;
    text-align: center;
    font-size: 24px;
    margin-left: 8px;
    margin-right: 8px;
}

#header-right nav li {
    line-height: 96px;
}

#footer-social-links ul {
    padding: 10px 0px 10px 0px;
}

#footer-copyright {
    font-size:0.8em;
}

footer {
    margin:auto;
    max-width:1024px;
    background:#000033;
    color:#dddddd;
    margin-top: 10px;
    padding: 10px 20px 10px 20px;
}

footer div {
    text-align: center;
}

.hidden {
    display: none;
}

@media only screen and (max-width: 768px), only screen and (max-device-width: 768px) {
    
    header {
        width:auto;
        max-height:100%;
        text-align:center;
        padding-left:0px;
        padding-right:0px;
        padding-bottom:2vw;
    }

    #header-left { 
        vertical-align: top;
        float:none;
        width:100%;
    }

    #header-left h1 {
        font-size: 12vw;
        padding:0px;
        margin:0px;
    }

    #header-right {
        vertical-align: bottom;
        float:none;
    }

    #header-right nav li {
        font-size: 5vw;
        line-height: 6vw;
        margin-left: 2vw;
        margin-right: 2vw;
    }

}
